include meetup-talk

mixin meetup(meetup)

	- var today = new Date();

	.tile.ph-1.pv-1
		.meetup-calendar.calendar.hidden-xs.hidden-sm(class=meetup.state == 'past' ? 'calendar--past' : null)
			.calendar__header=moment(meetup.startDate).tz('America/Los_Angeles').format('MMM')
			.calendar__body
				.calendar__date=moment(meetup.startDate).tz('America/Los_Angeles').format('DD')
				.calendar__year=moment(meetup.startDate).tz('America/Los_Angeles').format('YYYY')
		.meetup-content
			h2.mv-5= meetup.name
			h5.mb-1=moment(meetup.startDate).tz('America/Los_Angeles').format('dddd D MMM YYYY')
				|  from #{moment(meetup.startDate).tz('America/Los_Angeles').format('h:mma')} - #{moment(meetup.endDate).tz('America/Los_Angeles').format('h:mma')}
			if meetup.description
				p!= meetup.description
			if meetup.talks.length
				hr.mv-2
				ul.meetup-talks
					each talk in meetup.talks
						+meetup-talk(talk)

		if meetup.state == 'active'
			hr.mv-2
			.meetup-cta
				if meetup.isExternal
					.hero-button: a.btn.btn-primary.btn-lg.btn-block(href=meetup.eventLink, target="_blank") Go To Event Page
				else 
					if user
						if meetup.rsvpsAvailable
							h4.hero-button-title
								if !rsvpStatus.rsvped && rsvpStatus.attending
									span RSVP Confirmed!
								else
									span Are you coming?&nbsp;

							include ../includes/attendance-toggle
						else
							.alert.alert-success.mb-0.text-center No more spots&hellip;

					else
						#next-meetup(data-id=meetup.id)
							if meetup.rsvpsAvailable
								a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now 
							else
								.alert.alert-success.mb-0.text-center No more spots&hellip;

		else if meetup.totalRSVPs
			if meetup.state == 'past'
				ul.list-unstyled.list-inline.text-center
					for rsvp in meetup.rsvps
						if rsvp.who
							- var attendee = rsvp.who;
							if attendee.isPublic
								li: a(href=attendee.url, title=attendee.name.full)
									img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
							else
								li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
